*.asy
*.bgn
*.bit
*.bld
*.cgc
*.cgp
*.cmd
*.cmd_log
*.csv
*.drc
*.exe
*.gcg
*.gise
*.html
*.ini
*.log
*.lso
*.map
*.mrp
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.proj
*.ptwx
*.rsp
*.stx
*.swp
*.sym
*.syr
*.tcl
*.twr
*.twx
*.txt
*.ucf
*.unroutes
*.ut
*.v
*.veo
*.vho
*.wcfg
*.wdb
*.xco
*.xco.bak
*.xise
*.xml
*.xpi
*.xrpt
*.xst
*.xwbt
*.zip
