*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.csv
*.drc
*.exe
*.gise
*.html
*.ini
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.proj
*.ptwx
*.stx
*.swp
*.sym
*.syr
*.twr
*.twx
*.txt
*.ucf
*.unroutes
*.ut
*.wdb
*.xco
*.xise
*.xml
*.xpi
*.xrpt
*.xst
*.xwbt
