NET X LOC = J13 | IOSTANDARD = LVCMOS33;
NET Y LOC = K14 | IOSTANDARD = LVCMOS33;
NET Z LOC = U17 | IOSTANDARD = LVCMOS33;

NET A LOC = L13 | IOSTANDARD = LVCMOS33;
NET B LOC = K16 | IOSTANDARD = LVCMOS33;
NET C LOC = L16 | IOSTANDARD = LVCMOS33;